In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os, sys 
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
from shapely.geometry import Point, Polygon
import geopandas as gpd
import h3pandas 
sys.path.append('../../../reproducible_figures/scripts/')
import rep_fig_vis as rfv
sys.path.append('../../scripts/')
import create_dataset_utils as cdu
sys.path.append('../../../cnn-land-cover/scripts/')
import land_cover_analysis as lca 
import land_cover_visualisation as lcv

sys.path.append('../../scripts/')
import create_dataset_utils as cdu
import paired_embeddings_models as pem
import data_vis_utils as dvu
import shapely
from tqdm import tqdm, tqdm_notebook
import os
import pandas as pd

Font size is set to 10

In [15]:
tmp = pem.load_stats(timestamp='2024-03-02-0232')

Loaded stats from PECL-ImEn_2024-03-02-0232_vnum-243_stats.pkl at /Users/t.vanderplas/models/PECL/stats/

In [267]:
# tmp_df, tmp_details = dvu.create_df_list_timestamps(list_ts=[
#     '2024-03-01-0055', 
#     '2024-03-01-0109', 
#     '2024-03-01-0125', 
#     '2024-03-01-0146', 
#     '2024-03-01-0205', 
#     '2024-03-01-0222',
#     ])

tmp_df, tmp_details = dvu.create_df_list_timestamps(list_ts=dvu.get_list_timestamps_from_vnums(
    list_vnums=np.arange(164, 171)
))

Font size is set to 10
Loaded stats from PECL-ImEn_2024-02-28-1627_vnum-164_stats.pkl at /Users/t.vanderplas/models/PECL/stats/
Loaded stats from PECL-ImEn_2024-02-28-1705_vnum-165_stats.pkl at /Users/t.vanderplas/models/PECL/stats/
Loaded stats from PECL-ImEn_2024-02-28-1752_vnum-166_stats.pkl at /Users/t.vanderplas/models/PECL/stats/
Loaded stats from PECL-ImEn_2024-02-28-2304_vnum-167_stats.pkl at /Users/t.vanderplas/models/PECL/stats/
Loaded stats from PECL-ImEn_2024-02-29-1016_vnum-168_stats.pkl at /Users/t.vanderplas/models/PECL/stats/
Loaded stats from PECL-ImEn_2024-02-29-1039_vnum-169_stats.pkl at /Users/t.vanderplas/models/PECL/stats/
Loaded stats from PECL-ImEn_2024-02-29-1106_vnum-170_stats.pkl at /Users/t.vanderplas/models/PECL/stats/
Index(['val_top_1_acc', 'val_pred-bce_pecl-softmax_loss', 'val_ce_loss',
       'val_bce_loss', 'val_weighted-ce_loss', 'val_top_20_acc', 'val_loss',
       'val_top_5_acc', 'val_mae_loss', 'val_distance_pred_label_means',
       'val_weighted-bce_loss', 'val_top_10_acc',
       'train_pred-bce_pecl-softmax_loss', 'val_mse_loss'],
      dtype='object')
Index(['val_top_1_acc', 'val_pred-bce_pecl-softmax_loss', 'val_ce_loss',
       'val_bce_loss', 'val_weighted-ce_loss', 'val_top_20_acc', 'val_loss',
       'val_top_5_acc', 'val_mae_loss', 'val_distance_pred_label_means',
       'val_weighted-bce_loss', 'val_top_10_acc',
       'train_pred-bce_pecl-softmax_loss', 'val_mse_loss'],
      dtype='object')
Index(['val_top_1_acc', 'val_pred-bce_pecl-softmax_loss', 'val_ce_loss',
       'val_bce_loss', 'val_weighted-ce_loss', 'val_top_20_acc', 'val_loss',
       'val_top_5_acc', 'val_mae_loss', 'val_distance_pred_label_means',
       'val_weighted-bce_loss', 'val_top_10_acc',
       'train_pred-bce_pecl-softmax_loss', 'val_mse_loss'],
      dtype='object')
Index(['val_top_1_acc', 'val_pred-bce_pecl-softmax_loss', 'val_ce_loss',
       'val_bce_loss', 'val_weighted-ce_loss', 'val_top_20_acc', 'val_loss',
       'val_top_5_acc', 'val_mae_loss', 'val_distance_pred_label_means',
       'val_weighted-bce_loss', 'val_top_10_acc',
       'train_pred-bce_pecl-softmax_loss', 'val_mse_loss'],
      dtype='object')
Index(['val_top_1_acc', 'val_pred-bce_pecl-softmax_loss', 'val_ce_loss',
       'val_bce_loss', 'val_weighted-ce_loss', 'val_top_20_acc', 'val_loss',
       'val_top_5_acc', 'val_mae_loss', 'val_distance_pred_label_means',
       'val_weighted-bce_loss', 'val_top_10_acc',
       'train_pred-bce_pecl-softmax_loss', 'val_mse_loss'],
      dtype='object')
Index(['val_top_1_acc', 'val_pred-bce_pecl-softmax_loss', 'val_ce_loss',
       'val_bce_loss', 'val_weighted-ce_loss', 'val_top_20_acc', 'val_loss',
       'val_top_5_acc', 'val_mae_loss', 'val_distance_pred_label_means',
       'val_weighted-bce_loss', 'val_top_10_acc',
       'train_pred-bce_pecl-softmax_loss', 'val_mse_loss'],
      dtype='object')
Index(['val_top_1_acc', 'val_pred-bce_pecl-softmax_loss', 'val_ce_loss',
       'val_bce_loss', 'val_weighted-ce_loss', 'val_top_20_acc', 'val_loss',
       'val_top_5_acc', 'val_mae_loss', 'val_distance_pred_label_means',
       'val_weighted-bce_loss', 'val_top_10_acc',
       'train_pred-bce_pecl-softmax_loss', 'val_mse_loss'],
      dtype='object')

In [272]:
df_print = dvu.create_printable_table(df=tmp_df, hparams_use=tmp_details[1], metrics_use=tmp_details[2],
                           metric_optimise=tmp_details[3], #Â hparam_show='alpha_ratio_loss',
                           save_table=False, filename='tab_test.tex', highlight_best_row=True,
                           label_tex='tab:test', caption_tex='Test table')

Font size is set to 10
Hyperparameter alpha_ratio_loss has 7 unique values
Column seed_used has only one unique value: 42
No hyperparameters to show specified, using ['alpha_ratio_loss']

In [270]:
tmp_df.columns

Index(['timestamp', 'n_species', 'n_enc_channels', 'n_bands',
       'n_layers_mlp_resnet', 'n_layers_mlp_pred', 'pretrained_resnet',
       'freeze_resnet', 'optimizer_name', 'resnet_version',
       'pecl_distance_metric', 'pred_train_loss', 'lr', 'pecl_knn',
       'pecl_knn_hard_labels', 'training_method', 'alpha_ratio_loss',
       'normalise_embedding', 'use_mps', 'use_lr_scheduler', 'seed_used',
       'batch_size_used', 'verbose', 'time_created', 'name_train_loss',
       'n_epochs_converged', 'val_top_20_acc', 'val_top_10_acc',
       'val_top_5_acc', 'val_top_1_acc', 'val_bce_loss', 'val_mse_loss'],
      dtype='object')

In [274]:
df_print[0]

  alpha_ratio_loss    Top-10         Top-5           MSE
                        mean sem      mean sem      mean sem
0             0.00  0.708209 NaN  0.608209 NaN  0.012109 NaN
1             0.02  0.709702 NaN  0.617164 NaN  0.012072 NaN
2             0.05  0.709701 NaN  0.614179 NaN  0.012175 NaN
3             0.10  0.710821 NaN  0.620149 NaN  0.012222 NaN
4             0.20  0.710821 NaN  0.614925 NaN  0.012278 NaN
5             0.50  0.706343 NaN  0.614925 NaN  0.012392 NaN
6             1.00  0.710075 NaN  0.615672 NaN  0.012456 NaN

In [275]:
df_print[1]

Font size is set to 10

,$\alpha$,Top-10 [\%],Top-5 [\%],MSE [1e-02]
0,0.0,70.8 $\pm$ nan,60.8 $\pm$ nan,1.21 $\pm$ nan
1,0.02,71.0 $\pm$ nan,61.7 $\pm$ nan,\textbf{1.21 $\pm$ nan}
2,0.05,71.0 $\pm$ nan,61.4 $\pm$ nan,1.22 $\pm$ nan
3,0.1,71.1 $\pm$ nan,\textbf{62.0 $\pm$ nan},1.22 $\pm$ nan
4,0.2,\textbf{71.1 $\pm$ nan},61.5 $\pm$ nan,1.23 $\pm$ nan
5,0.5,70.6 $\pm$ nan,61.5 $\pm$ nan,1.24 $\pm$ nan
6,1.0,71.0 $\pm$ nan,61.6 $\pm$ nan,1.25 $\pm$ nan

In [276]:
_ = dvu.print_table_alpha()

Font size is set to 10
Loaded stats from PECL-ImEn_2024-02-28-1627_vnum-164_stats.pkl at /Users/t.vanderplas/models/PECL/stats/
Loaded stats from PECL-ImEn_2024-02-28-1705_vnum-165_stats.pkl at /Users/t.vanderplas/models/PECL/stats/
Loaded stats from PECL-ImEn_2024-02-28-1752_vnum-166_stats.pkl at /Users/t.vanderplas/models/PECL/stats/
Loaded stats from PECL-ImEn_2024-02-28-2304_vnum-167_stats.pkl at /Users/t.vanderplas/models/PECL/stats/
Loaded stats from PECL-ImEn_2024-02-29-1016_vnum-168_stats.pkl at /Users/t.vanderplas/models/PECL/stats/
Loaded stats from PECL-ImEn_2024-02-29-1039_vnum-169_stats.pkl at /Users/t.vanderplas/models/PECL/stats/
Loaded stats from PECL-ImEn_2024-02-29-1106_vnum-170_stats.pkl at /Users/t.vanderplas/models/PECL/stats/
Index(['val_top_1_acc', 'val_pred-bce_pecl-softmax_loss', 'val_ce_loss',
       'val_bce_loss', 'val_weighted-ce_loss', 'val_top_20_acc', 'val_loss',
       'val_top_5_acc', 'val_mae_loss', 'val_distance_pred_label_means',
       'val_weighted-bce_loss', 'val_top_10_acc',
       'train_pred-bce_pecl-softmax_loss', 'val_mse_loss'],
      dtype='object')
Index(['val_top_1_acc', 'val_pred-bce_pecl-softmax_loss', 'val_ce_loss',
       'val_bce_loss', 'val_weighted-ce_loss', 'val_top_20_acc', 'val_loss',
       'val_top_5_acc', 'val_mae_loss', 'val_distance_pred_label_means',
       'val_weighted-bce_loss', 'val_top_10_acc',
       'train_pred-bce_pecl-softmax_loss', 'val_mse_loss'],
      dtype='object')
Index(['val_top_1_acc', 'val_pred-bce_pecl-softmax_loss', 'val_ce_loss',
       'val_bce_loss', 'val_weighted-ce_loss', 'val_top_20_acc', 'val_loss',
       'val_top_5_acc', 'val_mae_loss', 'val_distance_pred_label_means',
       'val_weighted-bce_loss', 'val_top_10_acc',
       'train_pred-bce_pecl-softmax_loss', 'val_mse_loss'],
      dtype='object')
Index(['val_top_1_acc', 'val_pred-bce_pecl-softmax_loss', 'val_ce_loss',
       'val_bce_loss', 'val_weighted-ce_loss', 'val_top_20_acc', 'val_loss',
       'val_top_5_acc', 'val_mae_loss', 'val_distance_pred_label_means',
       'val_weighted-bce_loss', 'val_top_10_acc',
       'train_pred-bce_pecl-softmax_loss', 'val_mse_loss'],
      dtype='object')
Index(['val_top_1_acc', 'val_pred-bce_pecl-softmax_loss', 'val_ce_loss',
       'val_bce_loss', 'val_weighted-ce_loss', 'val_top_20_acc', 'val_loss',
       'val_top_5_acc', 'val_mae_loss', 'val_distance_pred_label_means',
       'val_weighted-bce_loss', 'val_top_10_acc',
       'train_pred-bce_pecl-softmax_loss', 'val_mse_loss'],
      dtype='object')
Index(['val_top_1_acc', 'val_pred-bce_pecl-softmax_loss', 'val_ce_loss',
       'val_bce_loss', 'val_weighted-ce_loss', 'val_top_20_acc', 'val_loss',
       'val_top_5_acc', 'val_mae_loss', 'val_distance_pred_label_means',
       'val_weighted-bce_loss', 'val_top_10_acc',
       'train_pred-bce_pecl-softmax_loss', 'val_mse_loss'],
      dtype='object')
Index(['val_top_1_acc', 'val_pred-bce_pecl-softmax_loss', 'val_ce_loss',
       'val_bce_loss', 'val_weighted-ce_loss', 'val_top_20_acc', 'val_loss',
       'val_top_5_acc', 'val_mae_loss', 'val_distance_pred_label_means',
       'val_weighted-bce_loss', 'val_top_10_acc',
       'train_pred-bce_pecl-softmax_loss', 'val_mse_loss'],
      dtype='object')
Hyperparameter alpha_ratio_loss has 7 unique values
Column seed_used has only one unique value: 42
No hyperparameters to show specified, using ['alpha_ratio_loss']